.pvb-user-ip-container {
  border-radius: 7px;
  padding:5px;
  margin:0 0 2px 0;
  max-width: 300px;
}

.pvb-users-tooltip-container {
  position: relative;
  display: block;
  float: right;
}

.pvb-users-tooltip-icon {
  position: relative;
  cursor: pointer;
}

.pvb-users-tooltip-content {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;  /* Prevents text wrapping */
  max-width: 150px;  /* Adjust the value as needed */
  pointer-events: none; /* Prevent the tooltip from blocking interaction */
}

.pvb-users-tooltip-container:hover .pvb-users-tooltip-content {
  visibility: visible;
  opacity: 1;
  pointer-events: auto; /* Allow interaction with the tooltip */
}

.pvb-last-login-ip, .pvb-registration-ip {
  line-height: 1.1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
}

.pvb-ip-user-flag {
  vertical-align: text-bottom;
  height: 1.1em;
  width: 20px;
}
